<footer class="site-footer">
  <div class="site-footer__affiliation">
    <a href="https://sinc.unl.edu.ar/">
      <img src="/assets/img/logo-sinc.svg" alt="sinc(i), UNL-CONICET" class="site-footer__logo">
    </a>
    <div>
      <strong>Instituto de Investigación en Señales, Sistemas e Inteligencia Computacional</strong><br>
      FICH · Universidad Nacional del Litoral · CONICET
    </div>
  </div>
  <div class="site-footer__links" aria-label="Contacto y perfiles académicos">
    <a href="mailto:gkulemeyer@sinc.unl.edu.ar">Correo</a>
    <a href="https://scholar.google.com/citations?user=mBucAygAAAAJ&amp;hl=es">Google Scholar</a>
    <a href="https://github.com/gkulemeyer">GitHub</a>
    <a href="https://www.linkedin.com/in/guillermo-kulemeyer/">LinkedIn</a>
  </div>
</footer>
